extends ../index.pug

block content

	script( type='text/javascript' src='/public/explorer/explorer.js' )

	div( ng-controller='Explorer_Controller' )

		script
			!= `window.SERVER_DATA = {};\n`
			!= `window.SERVER_DATA.User = ${JSON.stringify( locals.User )};\n`

		include partials/invoke-modal.pug

		-var Settings = locals.Server.Config.Settings 

		.w3-container.w3-blue-grey
			h2
				i= `${Settings.AppInfo.name} Explorer`

		br

		.w3-container

			each service in locals.Server.Services
				-var service_def = service.ServiceDefinition;
				-var item_def = service.ItemDefinition;

				.w3-section
				.w3-container
					-var content_id = 'service-' + service_def.name

					//- Service Title
					.w3-container.w3-padding.w3-border.w3-round-large.w3-sand
						a( href="#" ng-click=`Page.ToggleContentVisible( "${content_id}" )` ).w3-button.w3-round-xxlarge
							span( ng-show=`!Page.IsContentVisible( "${content_id}" )` ).w3-xlarge.fa.fa-caret-right &nbsp; &nbsp;
							span( ng-show=`Page.IsContentVisible( "${content_id}" )` ).w3-xlarge.fa.fa-caret-down &nbsp; &nbsp;
							span.w3-xlarge= `${service_def.name} Service`

					//- Service Details
					.w3-container.w3-border.w3-round-large.w3-padding( id=content_id ng-show=`Page.IsContentVisible( "${content_id}" )` )

						//- Service Item
						.w3-section

						//- Item Title
						.w3-large= `The ${service_def.name} Item:`
						.w3-container
							span.w3-large= item_def.name
							if( item_def.shareable )
								span.w3-small &nbsp; (Shareable)
							else
								span.w3-small &nbsp; (Not Shareable)

							//- Item Fields
							include partials/item-fields.pug

						//- Service Origins
						.w3-section

							//- Section Title
							span.w3-large= `${service_def.name} Origins:`

							.w3-container 

								//- Service Origins
								if( Object.keys( service_def.Origins ).length === 0 )
									h5
										i No Service Origins
								else 
									each origin in service_def.Origins 

										.w3-section
										-var content_id = service_def.name + '-origin-' + origin.name

										//- Function Signature
										-var parameter_names = origin.parameters.map( p => p.name )
										.w3-container.w3-padding.w3-round-large.w3-blue.w3-text-white
											a( href="#" ng-click=`Page.ToggleContentVisible( "${content_id}" )` ).w3-button.w3-round-xxlarge
												span( ng-show=`!Page.IsContentVisible( "${content_id}" )` ).w3-large.fa.fa-caret-right &nbsp; &nbsp;
												span( ng-show=`Page.IsContentVisible( "${content_id}" )` ).w3-large.fa.fa-caret-down &nbsp; &nbsp;
												span.w3-large= `${origin.name}( ${parameter_names} )`

										//- Function Details
										.w3-container.w3-round-large.w3-padding( id=content_id ng-show=`Page.IsContentVisible( "${content_id}" )` )

											//- Allowed Roles and Login
											.w3-container 
												include partials/origin-description.pug 

											//- Parameters Table
											include partials/origin-parameters.pug 

											//- Function Verbs
											if( origin.verbs.length === 0 )
												h5
													i No Verbs Defined
											else
												.w3-row
													.w3-cell
														h5 Verbs: 
													.w3-cell
														if( origin.verbs.includes( 'call' ) )
															a.w3-button.w3-small.w3-round-large.w3-margin.w3-blue(
																href="#"
																ng-click=`Page.ShowInvokeModal( "Call", "${service_def.name}", "${origin.name}", ${JSON.stringify( origin.parameters )} )`
															) Call
														if( origin.verbs.includes( 'get' ) )
															a.w3-button.w3-small.w3-round-large.w3-margin.w3-blue(
																href="#"
																ng-click=`Page.ShowInvokeModal( "Get", "${service_def.name}", "${origin.name}", ${JSON.stringify( origin.parameters )} )`
															) Get
														if( origin.verbs.includes( 'put' ) )
															a.w3-button.w3-small.w3-round-large.w3-margin.w3-blue(
																href="#"
																ng-click=`Page.ShowInvokeModal( "Put", "${service_def.name}", "${origin.name}", ${JSON.stringify( origin.parameters )} )`
															) Put
														if( origin.verbs.includes( 'post' ) )
															a.w3-button.w3-small.w3-round-large.w3-margin.w3-blue(
																href="#"
																ng-click=`Page.ShowInvokeModal( "Post", "${service_def.name}", "${origin.name}", ${JSON.stringify( origin.parameters )} )`
															) Post
														if( origin.verbs.includes( 'delete' ) )
															a.w3-button.w3-small.w3-round-large.w3-margin.w3-blue(
																href="#"
																ng-click=`Page.ShowInvokeModal( "Delete", "${service_def.name}", "${origin.name}", ${JSON.stringify( origin.parameters )} )`
															) Delete
												.w3-row.w3-border


						//- Service Pages
						.w3-section

							//- Section Title
							span.w3-large= `${service_def.name} Pages:`

							.w3-container 

								//- Service Pages
								if( Object.keys( service_def.Pages ).length === 0 )
									h5
										i No Service Pages
								else 
									each origin in service_def.Pages 

										.w3-section
										-var content_id = service_def.name + '-page-' + origin.name

										//- Page Signature
										-var parameter_names = origin.parameters.map( p => p.name ).join( ', ' )
										.w3-container.w3-padding.w3-round-large.w3-green.w3-text-white
											a( href="#" ng-click=`Page.ToggleContentVisible( "${content_id}" )` ).w3-button.w3-round-xxlarge
												span( ng-show=`!Page.IsContentVisible( "${content_id}" )` ).w3-large.fa.fa-caret-right &nbsp; &nbsp;
												span( ng-show=`Page.IsContentVisible( "${content_id}" )` ).w3-large.fa.fa-caret-down &nbsp; &nbsp;
												span.w3-large= `${origin.name}( ${parameter_names} )`

										//- Page Details
										.w3-container.w3-round-large.w3-padding( id=content_id ng-show=`Page.IsContentVisible( "${content_id}" )` )

											//- Allowed Roles and Login
											.w3-container 
												include partials/origin-description.pug 

											//- Parameters Table
											include partials/origin-parameters.pug 

											//- Function Verbs
											.w3-row
												.w3-cell
													h5 Verbs: 
												.w3-cell
													a.w3-button.w3-small.w3-round-large.w3-margin.w3-green(
														href="#"
														ng-click=`Page.ShowInvokeModal( "Visit", "${service_def.name}", "${origin.name}", ${JSON.stringify( origin.parameters )} )`
													) Visit
											.w3-row.w3-border

