extends index.pug

block content

	script( type='text/javascript' src='/managed-list.js' )

	div( ng-controller='ManagedList_Controller' )

		script
			!= `window.SERVER_DATA = {};\n`
			!= `window.SERVER_DATA.User = ${JSON.stringify( locals.User )};\n`
			!= `window.SERVER_DATA.ObjectDefinition = ${JSON.stringify(locals.ObjectDefinition)};\n`
			!= `window.SERVER_DATA.Interface = ${JSON.stringify( locals.Interface)};\n`
			!= `window.SERVER_DATA.PageFunction = "${locals.PageFunction}";\n`


		//-=====================================================================
		//-=====================================================================
		//- 
		//- 	Page Header
		//- 
		//-=====================================================================
		//-=====================================================================


		.w3-container.w3-blue-grey
			h2
				i
					span( ng-show="Page.Server.PageFunction === 'ListAll'" ) All {{Page.Def.ServiceTitle}}
					span( ng-show="Page.Server.PageFunction === 'ListMine'" ) My {{Page.Def.ServiceTitle}}
					span( ng-show="Page.Server.PageFunction === 'DeleteMine'" ) Delete My {{Page.Def.ServiceTitle}}
					span( ng-show="Page.Server.PageFunction === 'DeleteAll'" ) Delete All {{Page.Def.ServiceTitle}}

		br

		.w3-container


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Page Buttons
			//- 
			//-=====================================================================
			//-=====================================================================


			.w3-row
				a.w3-btn.w3-green.w3-border.w3-small.w3-padding-small(
					ng-href="{{ Page.ObjectCreateUrl() }}"
					ng-show="Page.ShowCreateButton()"
				) New {{ Page.Def.ObjectTitle }}
				a.w3-btn.w3-red.w3-border.w3-small.w3-padding-small(
					ng-click=""
					ng-show="Page.ShowDeleteButton()"
				) Delete {{ Page.Def.ObjectTitle }}
				.w3-container.w3-margin


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Managed List
			//- 
			//-=====================================================================
			//-=====================================================================


			.w3-row.w3-border.w3-round-large.w3-white

				table.w3-table
					tr 
						th

						if( '|ListAll|DeleteAll|'.indexOf( locals.PageFunction ) > 0 )
							th Name
							th Email

						th(
							ng-repeat="field in Page.Def.Fields"
						)
							span {{ field.title }}

					tr.w3-border(
						ng-repeat="object in Page.objects"
					)
						td.w3-rightbar.w3-padding-small.w3-center.no-line-break

							a.w3-btn.w3-sand.w3-border.w3-small.w3-padding-small(
								ng-href="{{Page.ObjectViewUrl( object )}}" 
								ng-show="Page.UserCanDo('ReadOne')"
							)
								i.fa.fa-eye.w3-text-blue
							a.w3-btn.w3-sand.w3-border.w3-small.w3-padding-small(
								ng-href="{{Page.ObjectEditUrl( object )}}" 
								ng-show="Page.UserCanDo('WriteOne')"
							)
								i.fa.fa-edit.w3-text-green
							a.w3-btn.w3-sand.w3-border.w3-small.w3-padding-small(
								ng-href="{{Page.ObjectDeleteUrl( object )}}" 
								ng-show="Page.UserCanDo('DeleteOne')"
							)
								i.fa.fa-trash-alt.w3-text-red

						if( '|ListAll|DeleteAll|'.indexOf( locals.PageFunction ) > 0 )
							td {{ object._m.owner.name }}
							td {{ object._m.owner.email }}

						td(
							ng-repeat="field in Page.Def.Fields"
						)
							span(
								ng-show="field.type === 'string'"
							) {{ object[field.member] }}

							span(
								ng-show="field.type === 'date'"
							) {{ object[field.member] }}

							span(
								ng-show="field.type === 'url'"
							)
								a( ng-href="{{ object[field.member] }}" ) link

							span(
								ng-show="field.type === 'image_url'"
							)
								img(
									ng-src="{{object[field.member]}}"
									style="width:50px; height=auto;"
								)

							span(
								ng-show="field.type === 'number'"
							) {{ object[field.member] }}

							span(
								ng-show="field.type === 'array'"
							) {{ object[field.member].length }} items

							span(
								ng-show="field.type === 'object'"
							) {{ JSON.stringify( object[field.member] ) }}


			//-=====================================================================
			//-=====================================================================
			//- 
			//- 	Page Buttons
			//- 
			//-=====================================================================
			//-=====================================================================


			.w3-row
				.w3-container.w3-margin
				a.w3-btn.w3-green.w3-border.w3-small.w3-padding-small(
					ng-href="{{ Page.ObjectCreateUrl() }}"
					ng-show="Page.ShowCreateButton()"
				) New {{ Page.Def.ObjectTitle }}
				a.w3-btn.w3-red.w3-border.w3-small.w3-padding-small(
					ng-click=""
					ng-show="Page.ShowDeleteButton()"
				) Delete {{ Page.Def.ObjectTitle }}


